## Q1 (2 points)
Convert a list of multiple integers into a single integer:

Sample list: [11, 33, 50]

Expected Output: 113350

In [19]:
a = [11, 33, 50]

In [ ]:
print(a)

In [21]:
x = int("".join(map(str, a)))

In [23]:
print(x)

113350

## Q2 (3 points)
Flatten a given nested list structure. 

Original list: [0, 10, [20, 30], 40, 50, [60, 70, 80], [90, 100, 110, 120]]

Flatten list:
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120]

In [35]:
a = [0, 10, [20, 30], 40, 50, [60, 70, 80], [90, 100, 110, 120]]

In [36]:
flat_list = list()

In [37]:
def flatten_list(a):
    for item in a:
        if type(item) == list:
            flatten_list(item)
        else:
            flat_list.append(item)
            
    return flat_list

In [40]:
print(flat_list)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120]

## Q3 (2 points)
Convert a given dictionary into a list of lists.

Original Dictionary:
{1: 'red', 2: 'green', 3: 'black', 4: 'white', 5: 'black'}

Convert the said dictionary into a list of lists:
[[1, 'red'], [2, 'green'], [3, 'black'], [4, 'white'], [5, 'black']]

In [21]:
myDict = { 1: 'red', 2: 'green', 3: 'black', 4: 'white', 5: 'black'}

In [22]:
print(str(myDict))

{1: 'red', 2: 'green', 3: 'black', 4: 'white', 5: 'black'}

In [23]:
new_list = []

In [24]:
for key, value in myDict.items():
    new_list.append([key, value])

In [25]:
print(new_list)

[[1, 'red'], [2, 'green'], [3, 'black'], [4, 'white'], [5, 'black']]

## Q4 (3 points)
Create a new GitHub project. Save this notebook to that project, and enter the link to the GitHub notebook below